In [1]:
import pandas as pd 
import numpy as np

In [8]:
data = pd.read_csv('Coursera.csv')

In [9]:
data.head()

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3522 entries, 0 to 3521
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Course Name         3522 non-null   object
 1   University          3522 non-null   object
 2   Difficulty Level    3522 non-null   object
 3   Course Rating       3522 non-null   object
 4   Course URL          3522 non-null   object
 5   Course Description  3522 non-null   object
 6   Skills              3522 non-null   object
dtypes: object(7)
memory usage: 192.7+ KB

In [11]:
data.shape

(3522, 7)

In [7]:
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
data.isnull().sum()

Course Name           0
University            0
Difficulty Level      0
Course Rating         0
Course URL            0
Course Description    0
Skills                0
dtype: int64

In [13]:
data.describe()

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
count,3522,3522,3522,3522,3522,3522,3522
unique,3416,184,5,31,3424,3397,3424
top,Google Cloud Platform Fundamentals: Core Infra...,Coursera Project Network,Beginner,4.7,https://www.coursera.org/learn/gcp-fundamentals,This course introduces you to important concep...,Google Cloud Platform Big Data Cloud Infrast...
freq,8,562,1444,740,8,8,8

In [14]:
data['Difficulty Level'].value_counts()

Difficulty Level
Beginner          1444
Advanced          1005
Intermediate       837
Conversant         186
Not Calibrated      50
Name: count, dtype: int64

In [16]:
# data['Course Name'].value_counts().plot(kind='bar', figsize=(10, 5))
# plt.title('Course Name Distribution')

In [17]:
data['Course Rating'].value_counts()

Course Rating
4.7               740
4.6               623
4.8               598
4.5               389
4.4               242
4.9               180
4.3               165
4.2               121
5                  90
4.1                85
Not Calibrated     82
4                  51
3.8                24
3.9                20
3.6                18
3.7                18
3.5                17
3.4                13
3                  12
3.2                 9
3.3                 6
2.9                 6
2.6                 2
2.8                 2
2.4                 2
1                   2
2                   1
3.1                 1
2.5                 1
1.9                 1
2.3                 1
Name: count, dtype: int64

In [18]:


data['University'].value_counts()

University
Coursera Project Network                      562
University of Illinois at Urbana-Champaign    138
Johns Hopkins University                      110
University of Michigan                        101
University of Colorado Boulder                101
                                             ...
GitLab                                          1
Yeshiva University                              1
University of Glasgow                           1
Laureate Education                              1
The World Bank Group                            1
Name: count, Length: 184, dtype: int64

In [19]:


data['Course Name']

0       Write A Feature Length Screenplay For Film Or ...
1       Business Strategy: Business Model Canvas Analy...
2                           Silicon Thin Film Solar Cells
3                                    Finance for Managers
4            Retrieve Data using Single-Table SQL Queries
                              ...
3517    Capstone: Retrieving, Processing, and Visualiz...
3518                     Patrick Henry: Forgotten Founder
3519    Business intelligence and data analytics: Gene...
3520                                  Rigid Body Dynamics
3521    Architecting with Google Kubernetes Engine: Pr...
Name: Course Name, Length: 3522, dtype: object

In [20]:
data.columns

Index(['Course Name', 'University', 'Difficulty Level', 'Course Rating',
       'Course URL', 'Course Description', 'Skills'],
      dtype='object')

In [21]:


data = data[['Course Name', 'Difficulty Level', 'Course URL', 'Course Description', 'Skills']]

In [22]:
data.head()

,Course Name,Difficulty Level,Course URL,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Beginner,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Beginner,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,Advanced,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,Intermediate,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Beginner,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [23]:
data['Course Name'] = data['Course Name'].str.replace(' ', ',')
data['Course Name'] = data['Course Name'].str.replace(':', '')
data['Course Name'] = data['Course Name'].str.replace(',,', ',')

data['Course Description'] = data['Course Description'].str.replace(' ', ',')
data['Course Description'] = data['Course Description'].str.replace(',,', ',')
data['Course Description'] = data['Course Description'].str.replace(':', '')
data['Course Description'] = data['Course Description'].str.replace('_', '')
data['Course Description'] = data['Course Description'].str.replace('(', '')
data['Course Description'] = data['Course Description'].str.replace(')', '')

data['Skills'] = data['Skills'].str.replace('(', '')
data['Skills'] = data['Skills'].str.replace(')', '')

In [24]:
data.head()

,Course Name,Difficulty Level,Course URL,Course Description,Skills
0,"Write,A,Feature,Length,Screenplay,For,Film,Or,...",Beginner,https://www.coursera.org/learn/write-a-feature...,"Write,a,Full,Length,Feature,Film,Script,In,thi...",Drama Comedy peering screenwriting film D...
1,"Business,Strategy,Business,Model,Canvas,Analys...",Beginner,https://www.coursera.org/learn/canvas-analysis...,"By,the,end,of,this,guided,project,you,will,be,...",Finance business plan persona user experienc...
2,"Silicon,Thin,Film,Solar,Cells",Advanced,https://www.coursera.org/learn/silicon-thin-fi...,"This,course,consists,of,a,general,presentation...",chemistry physics Solar Energy film lambda...
3,"Finance,for,Managers",Intermediate,https://www.coursera.org/learn/operational-fin...,"When,it,comes,to,numbers,there,is,always,more,...",accounts receivable dupont analysis analysis...
4,"Retrieve,Data,using,Single-Table,SQL,Queries",Beginner,https://www.coursera.org/learn/single-table-sq...,"In,this,course,you�ll,learn,how,to,effectively...",Data Analysis select sql database management...

In [25]:
data['tags'] = data['Course Name'] + data['Difficulty Level'] + data['Course Description'] + data['Skills']

In [26]:
data.head()

,Course Name,Difficulty Level,Course URL,Course Description,Skills,tags
0,"Write,A,Feature,Length,Screenplay,For,Film,Or,...",Beginner,https://www.coursera.org/learn/write-a-feature...,"Write,a,Full,Length,Feature,Film,Script,In,thi...",Drama Comedy peering screenwriting film D...,"Write,A,Feature,Length,Screenplay,For,Film,Or,..."
1,"Business,Strategy,Business,Model,Canvas,Analys...",Beginner,https://www.coursera.org/learn/canvas-analysis...,"By,the,end,of,this,guided,project,you,will,be,...",Finance business plan persona user experienc...,"Business,Strategy,Business,Model,Canvas,Analys..."
2,"Silicon,Thin,Film,Solar,Cells",Advanced,https://www.coursera.org/learn/silicon-thin-fi...,"This,course,consists,of,a,general,presentation...",chemistry physics Solar Energy film lambda...,"Silicon,Thin,Film,Solar,CellsAdvancedThis,cour..."
3,"Finance,for,Managers",Intermediate,https://www.coursera.org/learn/operational-fin...,"When,it,comes,to,numbers,there,is,always,more,...",accounts receivable dupont analysis analysis...,"Finance,for,ManagersIntermediateWhen,it,comes,..."
4,"Retrieve,Data,using,Single-Table,SQL,Queries",Beginner,https://www.coursera.org/learn/single-table-sq...,"In,this,course,you�ll,learn,how,to,effectively...",Data Analysis select sql database management...,"Retrieve,Data,using,Single-Table,SQL,QueriesBe..."

In [27]:
data['tags']

0       Write,A,Feature,Length,Screenplay,For,Film,Or,...
1       Business,Strategy,Business,Model,Canvas,Analys...
2       Silicon,Thin,Film,Solar,CellsAdvancedThis,cour...
3       Finance,for,ManagersIntermediateWhen,it,comes,...
4       Retrieve,Data,using,Single-Table,SQL,QueriesBe...
                              ...
3517    Capstone,Retrieving,Processing,and,Visualizing...
3518    Patrick,Henry,Forgotten,FounderIntermediate�Gi...
3519    Business,intelligence,and,data,analytics,Gener...
3520    Rigid,Body,DynamicsBeginnerThis,course,teaches...
3521    Architecting,with,Google,Kubernetes,Engine,Pro...
Name: tags, Length: 3522, dtype: object

In [28]:
new_df = data[['Course Name', 'Course URL', 'tags']]

In [29]:
new_df["Course Name"] = data['Course Name'].str.replace(',', ' ')

C:\Users\codey\AppData\Local\Temp\ipykernel_11472\2550640291.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["Course Name"] = data['Course Name'].str.replace(',', ' ')

In [30]:
new_df.rename(columns = {'Course Name': 'course_name', 'Course URL': 'course_url'}, inplace = True)

C:\Users\codey\AppData\Local\Temp\ipykernel_11472\4208862616.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.rename(columns = {'Course Name': 'course_name', 'Course URL': 'course_url'}, inplace = True)

In [31]:


new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\codey\AppData\Local\Temp\ipykernel_11472\3220776283.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [32]:
new_df.head()

,course_name,course_url,tags
0,Write A Feature Length Screenplay For Film Or ...,https://www.coursera.org/learn/write-a-feature...,"write,a,feature,length,screenplay,for,film,or,..."
1,Business Strategy Business Model Canvas Analys...,https://www.coursera.org/learn/canvas-analysis...,"business,strategy,business,model,canvas,analys..."
2,Silicon Thin Film Solar Cells,https://www.coursera.org/learn/silicon-thin-fi...,"silicon,thin,film,solar,cellsadvancedthis,cour..."
3,Finance for Managers,https://www.coursera.org/learn/operational-fin...,"finance,for,managersintermediatewhen,it,comes,..."
4,Retrieve Data using Single-Table SQL Queries,https://www.coursera.org/learn/single-table-sq...,"retrieve,data,using,single-table,sql,queriesbe..."

In [33]:
from sklearn.feature_extraction.text import CountVectorizer

In [34]:
cv = CountVectorizer(max_features=5000, stop_words='english')
vectors  = cv.fit_transform(new_df['tags']).toarray()

In [35]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [36]:
import nltk
from nltk.stem.porter import PorterStemmer

In [37]:
ps = PorterStemmer()

In [38]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)

In [39]:


new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\codey\AppData\Local\Temp\ipykernel_11472\1373229534.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [40]:
from sklearn.metrics.pairwise import cosine_similarity

In [41]:


similarity = cosine_similarity(vectors)

In [42]:
similarity

array([[1.        , 0.03750979, 0.07877378, ..., 0.09463622, 0.06753905,
        0.10266713],
       [0.03750979, 1.        , 0.01220169, ..., 0.2976846 , 0.00502151,
        0.04697402],
       [0.07877378, 0.01220169, 1.        , ..., 0.01989156, 0.08612246,
        0.03117049],
       ...,
       [0.09463622, 0.2976846 , 0.01989156, ..., 1.        , 0.00682185,
        0.03722562],
       [0.06753905, 0.00502151, 0.08612246, ..., 0.00682185, 1.        ,
        0.01973535],
       [0.10266713, 0.04697402, 0.03117049, ..., 0.03722562, 0.01973535,
        1.        ]])

In [43]:
def recommend(course):
    course_index = new_df[new_df['course_name'] == course].index[0]
    distance = similarity[course_index]
    course_list = sorted(list(enumerate(distance)), reverse = True, key = lambda x:x[1])[1:7]
    
    recommended_courses = []
    for i in course_list:
        course_name = new_df.iloc[i[0]].course_name
        course_url = new_df.iloc[i[0]].course_url
        recommended_courses.append({'name': course_name, 'url': course_url})
    return recommended_courses

In [45]:


recommend("Retrieve Data using Single-Table SQL Queries")

[{'name': 'Creating Database Tables with SQL',
  'url': 'https://www.coursera.org/learn/creating-database-tables-with-sql'},
 {'name': 'Manipulating Data with SQL',
  'url': 'https://www.coursera.org/learn/manipulating-data-with-sql'},
 {'name': 'Create Relational Database Tables Using SQLiteStudio',
  'url': 'https://www.coursera.org/learn/create-relational-database-table-sqlitestudio'},
 {'name': 'Retrieve Data with Multiple-Table SQL Queries',
  'url': 'https://www.coursera.org/learn/multiple-table-sql-queries'},
 {'name': 'Advanced SQL Retrieval Queries in SQLiteStudio',
  'url': 'https://www.coursera.org/learn/Advanced-sql-retrieval-queries-in-sqlitestudio'},
 {'name': 'Relational Database Support for Data Warehouses',
  'url': 'https://www.coursera.org/learn/dwrelational'}]

In [46]:


import pickle

In [49]:
pickle.dump(new_df, open('courses.pkl', 'wb'))
pickle.dump(similarity, open('similarity.pkl', 'wb'))